AS_test_schema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="Furniture">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Manufacturer" type="xs:string" />
				<xs:element name="Cost" type="xs:string" />
				<xs:element name="Type" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="Table" />
							<xs:enumeration value="Chair" />
							<xs:enumeration value="Shelving" />
						</xs:restriction> 
					</xs:simpleType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Lighting">
	</xs:element>
</xs:schema>