DMO_member_input.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="Member physical properties">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="A, area" type="xs:string" />
				<xs:element name="E, modululs of elasticity" type="xs:string" />
				<xs:element name="I, moment of inertia" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>